<!-- SECCION EDUCACION -->
<section class="educ">
    <div class="titulo">
      <h2>Educacion</h2>

      <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educacion
      </button>

    </div>  
    
    <section id="cd-timeline" class="cd-container" >
      <div class="cd-timeline-block">
      </div>
  
      <div class="cd-timeline-block" *ngFor="let Educacion of educacion">
        <div class="cd-timeline-img cd-movie">
        </div> 
  
        <div class="cd-timeline-content">
          <h2>{{Educacion.nombreE}}</h2> 
          <span class="cd-date">{{Educacion.inicio | date:"dd/MM/yyyy"}} - {{Educacion.fin | date:"dd/MM/yyyy"}}</span>
          <div></div>
          <img [src]="Educacion.imagen" id="imagen" width="200px" > 
          <p>{{Educacion.descripcionE}}</p>
          
            <div class="botones">
              <li><button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged">
                <i class="bi bi-pencil-square"></i></button></li>
              <li><button class="btn btn-danger" (click)="delete(Educacion.id)" *ngIf="isLogged">
              <i class="bi bi-x-square"></i></button></li>
            </div>

        </div>
      </div> 
    </section>
</section>


