
    <footer>
        <p> Gez Carlos Enrique | © Argentina Programa</p>
        <ul class="menu">
            <li><a href="https://es-la.facebook.com/carlos.gez.9"><img src="assets/facebook.png" id="facebook"></a></li>
            <li><a href="https://www.linkedin.com/in/carlos-gez-075910226/"><img src="assets/linkedin.png" id="linkedin"></a></li>
            <li><a href="https://www.instagram.com/gezcarlos/"><img src="assets/instagram.png" id="instagram"></a></li>
            <li><a href="https://github.com/gezcarlos22"><img src="assets/github.png" id="gibhub"></a></li>
        </ul>
    </footer>
